html {
    background-color: #e7e4de;
    background-image: -webkit-linear-gradient(65deg, #aad0d4 50%, #e7e4de 50%);
    min-height: 1000px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
  
  }
  h1 {
    color: #fff;
  }
  
  h3 {
    text-align: center;
  }
  
  .box {
    max-width: 500px;
  
    margin: 50px auto;
    background: white;
    border-radius: 5px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
    padding:5px;
  }
  
  #heading {
    background-color: #68b8c1;
    text-align: center;
  }
  
  .btn-group {
    display: block;
    text-align:center;
  }
  
  .btn-group button {
    margin:5px;
    border-color: transparent;
    border-radius:5px;
    background-color: #68b8c1;
    color: #fff;
    font-size: 16px;
    padding: 10px;
    border-width: 0;
    outline:none;
    cursor:pointer;
  } 
  
  dl{
    padding:0;
  }
  
  dt {
    list-style-type: none;
    position: relative;
    font-weight:bold;
    margin: 2px;
    padding: 0.5em 0.5em 0.1em 2em;
    
  }
  
  dd{
    font-weight: normal;
    font-style: italic;
  }
  dl dt.completed {
    background: #c3e1e5;
  }
  
  dl dt.completed::before {
    content: '';
    position: absolute;
    border-color:#2a8a92;
    border-style: solid;
    border-width: 0 0.3em 0.25em 0;
    height: 0.8em;
    top: 1.3em;
    left: 0.6em;
    margin-top: -1em;
    transform: rotate(45deg);
    width: 0.5em;
  }
  
  p{
    margin-top:2px;
    padding-left: 5px;
  }
  select {
    height:30px;
    width:10%;
  }
  
  table {
    width:100%;
  
  }
  table td{
    height: 50px;
  }
  table .lbl{
    width:25%;
  }
  
  table .btn-add{
    width:25%;
    text-align: right;
  }
  
  input[type="text"] {
    text-align: left;
    font-size:18px;
    top: 10px;
    height:25px;
    border: none;
    background: transparent;
    width: 80%;
  }
  
  input[type="text"]:focus {
    outline: none;
    box-shadow: inset 0 -3px 0 0 #2a8a92;
  }
  .btn-round {
    min-height: 50px;
    width: 50px;
    border-radius: 50%;
    border-color: transparent;
    outline:none;
    background-color: #68b8c1;
    color: #fff;
    font-size: 30px;
    padding-bottom: 6px;
    border-width: 0;
    margin-bottom: 0px;
    margin-right: 0px;
    cursor:pointer;
  }
  