
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html,
  body {
    background: #e7e4de;
    font-size: 1.1rem;
    font-family: 'Roboto', sans-serif;
    height: 100%;
  }

  @media screen and (max-width: 450px){
    body {
      font-size: 0.75rem;
    }
  }

  @media screen and (max-width: 320px){
    body {
      font-size: 0.40rem;
    }
  }