.NewTodoForm {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
}
.NewTodoForm label {
  min-width: 100%;
  margin-bottom: 0.5rem;
  font-size: 1.3rem;
}
.NewTodoForm input {
  flex-grow: 1;
  border: none;
  background: #D9EDF0;
  padding: 0 1.5em;
  font-size: initial;
  outline: none;
}
.NewTodoForm button {
  padding: 0 1.3rem;
  border: none;
  background: rgba(255, 255, 255, 0.2);
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin-left: 5px;
  cursor: pointer;
  transition: background 0.4s ease-out;
  outline: none;
}
.NewTodoForm button:hover {
  background: rgba(0, 0, 0, 0.1);
}
.NewTodoForm input,
.NewTodoForm button {
  font-family: 'Roboto', sans-serif;
  height: 3rem;
}

/*** error msg ***/
.alert {
  font-size:0.8em;
  margin:5px 0;
  padding: 10px;
  background-color: #f44336;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  background-color: transparent;
  font-weight: bold;
  float: right;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
  border:none;
  outline:none;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

@media screen and (max-width: 600px){
  .NewTodoForm label {
    font-size: 0.9rem;
  }
.NewTodoForm input,
.NewTodoForm button {
font-size:0.5rem;
  height: 2.0rem;
}
  .closebtn {
    font-size:10px;
  }
  .alert {
    font-size:0.6rem;
  }
}
@media screen and (max-width: 450px){
  .NewTodoForm label {
    font-size: 0.8rem;
  }
  .NewTodoForm input,
  .NewTodoForm button {
  font-size:0.40rem;
  height: 1.6rem;
  }
  .closebtn {
    font-size:12px;
  }
  .alert {
    font-size:0.5rem;
  }
}

@media screen and (max-width: 320px){
  .NewTodoForm label {
    font-size: 0.75rem;
  }
.NewTodoForm input,
.NewTodoForm button {
font-size:0.40rem;
  height: 1.6rem;
}
  .closebtn {
    font-size:10px;
  }
  .alert {
    font-size:0.45rem;
  }
}