.TodoList {
  margin: 4rem auto;
  padding: 2rem 3rem 3rem;
  max-width: 600px;
  background: #2a8a92;
  color: #fff;
  box-shadow: -10px -10px 0px 0px rgba(100, 100, 100, 0.1);
  border-radius: 5px;
  overflow: hidden;
}
.TodoList ul {
  margin-top: 2.6rem;
  list-style: none;
}

.TodoList h1 {
  font-weight: normal;
  font-size: 2.6rem;
  letter-spacing: 0.05em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.TodoList h1 span {
  display: block;
  font-size: 0.8rem;
  margin-bottom: 0.7rem;
  margin-left: 3px;
  margin-top: 0.2rem;
}


.Todo .Todo-buttons i {
  display: inline-block;
}

@media screen and (max-width: 768px){
  .TodoList {
    width: 500px;
  }
  .TodoList h1 {
    font-size:2rem;
  }.TodoList h1 span {
    font-size:0.6rem;
  }
}

@media screen and (max-width: 450px){
  .TodoList {
    width: 350px;
  }
  .TodoList h1 {
    font-size:1.3rem;
  }.TodoList h1 span {
    font-size:0.45rem;
  }

}

@media screen and (max-width: 320px){
  .TodoList {
    width: 300px;
  }
  .TodoList h1 {
    font-size:1.1rem;
  }.TodoList h1 span {
    font-size:0.3rem;
  }

}